name: Trigger auto deployment for amplifier-api

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/amplifier-api-AutoDeployTrigger-3531530b-f061-4841-8df4-caa604d5e099.yml'

  # Allow manual trigger 
  workflow_dispatch:
      
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AMPLIFIERAPI_AZURE_CREDENTIALS }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: acramplifierapiprod.azurecr.io
          registryUsername: ${{ secrets.AMPLIFIERAPI_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.AMPLIFIERAPI_REGISTRY_PASSWORD }}
          containerAppName: amplifier-api
          resourceGroup: rg-amplifierapi-prod
          imageToBuild: acramplifierapiprod.azurecr.io/amplifier-api:${{ github.sha }}
          
            

     

